@model RoomInformation

<div class="single-news">
    <div class="container">
        <div class="row">
            <!-- Main Article Content -->
            <div class="col-lg-8">
                <div class="sn-container">
                    <div class="sn-content">
                        <h2 class="text-primary">@Model.RoomHeadline</h2>
                        <p>@Model.RoomDetailDescription</p>

                        <hr />
                    </div>
                </div>
            </div>
                </div>
            </div>
        </div>
